.env
venv
*.png
dataset/*
!dataset/.gitkeep
output/*
!output/**/.gitkeep
__pycache__/
lib/
lib64/

.ipynb_checkpoints

# PyTorch files
*.pth
*.pt

# Flask files
instance/
*.pyc
*.pyo
.webassets-cache


# IDE files
.idea/